@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap');

.sheet-Ficha {
  width: 100%;
  min-width: 600px;
  max-width: 1000px;
  border: 2px solid #000;
  font-family: 'Source Sans Pro';
}

.sheet-Ficha input[type=text],
.sheet-Ficha input[type=number] {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sheet-Ficha button.btn[type=roll] {
  border: none;
  background: none;
  box-shadow: none;
}

.sheet-Ficha button.btn[type=roll]:hover,
.sheet-Ficha button.btn[type=roll]:hover > input {
  color: #999;
}

.sheet-Ficha button.btn[type=roll]::before {
  content: none;
}

.sheet-Ficha input[type=number]::-webkit-inner-spin-button,
.sheet-Ficha input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sheet-Ficha .sheet-title {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.sheet-d-flex { display: flex }
.sheet-fd-col { flex-direction: column; }
.sheet-stretch { align-self: stretch; }
.sheet-f-1 { flex: 1 }
.sheet-f-2 { flex: 2 }
.sheet-f-3 { flex: 3 }
.sheet-f-4 { flex: 4 }
.sheet-f-5 { flex: 5 }
.sheet-f-6 { flex: 6 }
.sheet-f-7 { flex: 7 }
.sheet-f-8 { flex: 8 }
.sheet-f-9 { flex: 9 }

::placeholder {
  color: #a7a7a7;
}

/* === HEADER === */

.sheet-Header .sheet-input-wrapper {
  padding: 5px;
}

.sheet-Header input[type=text],
.sheet-Header input[type=number] {
  height: 30px;
  font-size: 18px;
  border-bottom-width: 2px;
}

.sheet-Header .sheet-logo img {
  margin-top: 30px;
  margin-bottom: 10px;
}

.sheet-Header .sheet-logo label {
  cursor: pointer;
}

.sheet-Header .sheet-logo label:hover {
  color: #999;
}

/* === ATRIBUTOS === */

.sheet-Atributos .sheet-box {
  border: 1px solid #000;
  margin: 5px;
  padding-bottom: 10px;
}

.sheet-Atributos input.sheet-modificador {
  width: 80%;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
  font-size: 28px;
}

.sheet-Atributos input.sheet-atributo {
  width: 40px;
  margin: 0 auto;
  margin-top: -20px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 50%;
}

/* === PERICIAS === */

.sheet-Pericias {
  margin: 5px;
  border: 1px solid #000;
}

.sheet-Pericias thead > tr {
  vertical-align: bottom;
}

.sheet-Pericias .sheet-pericias-header {
  padding: 5px;
  align-items: flex-end;
}

.sheet-Pericias .sheet-pericias-title {
  padding: 3px;
}

.sheet-Pericias .sheet-pericias-subtitle {
  font-size: 9px;
  text-align: center;
  width: 10%;
  padding-right: 5px;
}

.sheet-Pericias .sheet-treino-pericia {
  text-align: center;
  padding-left: 5px;
}

.sheet-Pericias .sheet-nome-pericia button[type=roll] {
  font-size: 14px;
  text-transform: capitalize;
  font-variant: small-caps;
  letter-spacing: 0.5px;
}

.sheet-Pericias .sheet-atributo-pericia {
  width: 10%;
}

.sheet-Pericias .sheet-atributo-pericia select {
  font-size: 11px;
}

.sheet-Pericias input[type=checkbox] {
  height: 25px;
}

.sheet-Pericias input[type=text],
.sheet-Pericias input[type=number] {
  width: 80%;
  display: inline-block;
  padding-bottom: 0px;
  text-align: center;
  padding: 0;
}

.sheet-Pericias select {
  width: 100%;
  -webkit-appearance: none;
  border: none;
  margin-bottom: 0px;
  height: auto;
  padding-left: 0;
  padding-right: 0;
}

.sheet-Pericias .sheet-simbolo {
  float: left;
  margin-left: -7px;
}

/* === VIDA / MANA === */

.sheet-Vida,
.sheet-Mana {
  border: 1px solid #000;
  margin: 5px;
  text-align: center;
  margin-top: 10px;
}

.sheet-Vida .sheet-pontos input[type=number],
.sheet-Mana .sheet-pontos input[type=number] {
  border-bottom-color: #ddd;
  width: 80%;
  margin: 0 auto;
  font-size: 26px;
  text-align: center;
}

.sheet-Vida .sheet-pontos > div,
.sheet-Mana .sheet-pontos > div {
  font-size: 10px;
}

/* === ATAQUES / HABILIDADES / MAGIAS === */

.sheet-rollables {
  border: 1px solid #000;
  margin: 5px;
  padding: 5px;
}

.sheet-rollables .sheet-Habilidades input.sheet-teste-resistencia-ativo,
.sheet-rollables .sheet-Habilidades input.sheet-dano-extra-ativo,
.sheet-rollables .sheet-Habilidades input.sheet-cura-ativo {
  display: none;
}

.sheet-rollables input.sheet-rollable-editavel ~ .repcontainer .sheet-nao-editavel,
.sheet-rollables input.sheet-rollable-editavel:checked ~ .repcontrol,
.sheet-rollables input.sheet-rollable-editavel:checked ~ .repcontainer .sheet-editavel {
  display: block;
}

.sheet-rollables input.sheet-rollable-editavel,
.sheet-rollables input.sheet-rollable-editavel:checked ~ .repcontainer .sheet-nao-editavel,
.sheet-rollables input.sheet-rollable-editavel ~ .repcontrol,
.sheet-rollables input.sheet-rollable-editavel ~ .repcontainer .sheet-editavel {
  display: none;
}

.sheet-rollables .sheet-editavel .sheet-rollable-editando {
  width: 20px;
}

.sheet-rollables .sheet-editavel .sheet-rollable-nome {
  display: inline-block;
  width: calc(100% - 23px);
  padding: 1px 0;
}

.sheet-rollables .sheet-editavel .sheet-rollable-editando ~ .sheet-editando {
  display: none;
}

.sheet-rollables .sheet-editavel .sheet-rollable-editando:checked ~ .sheet-editando {
  display: flex;
  background-color: #eee;
}

.sheet-rollables .sheet-editavel .sheet-editando {
  margin-bottom: 3px;
}

.sheet-rollables .sheet-editavel .sheet-editando > div .sheet-label {
  font-size: 9px;
  text-align: center;
}

.sheet-rollables .sheet-editavel .sheet-editando input[type=checkbox] {
  width: 20px;
}

.sheet-rollables .sheet-editavel .sheet-editando input[type=text] {
  width: 70px;
  padding: 0px;
  margin: 0;
  height: 18px;
  background: none;
  text-align: center;
  line-height: 100%;
  display: inline-block;
}

.sheet-rollables .sheet-editavel .sheet-editando select {
  width: fit-content;
  padding: 0px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: unset;
  -webkit-appearance: none;
  height: 18px;
  background: none;
  text-align: center;
  text-align-last: center;
}

.sheet-rollables .sheet-editavel .sheet-editando textarea {
  width: auto;
  height: 55px;
  background: none;
  margin: 0;
  border-radius: 0;
  border: 1px solid #000;
  border-top: none;
}

.sheet-rollables .sheet-editavel .sheet-editando .sheet-ataque input[type=text] {
  width: 90%;
}

.sheet-rollables .sheet-editavel .sheet-editando .sheet-resistencia input[type=text] {
  width: 20px;
}

.sheet-rollables .sheet-editavel .sheet-editando .sheet-origem input[type=text] {
  width: 115px;
}

.sheet-rollables .sheet-editavel .sheet-editando .sheet-custo input[type=text] {
  width: 20px;
}

.sheet-rollables .sheet-editavel .sheet-editando .sheet-resistencia input[type=text].sheet-pericia {
  width: 70px;
}

.sheet-rollables .sheet-editavel .sheet-editando input[type=text].sheet-dados {
  width: 25px;
}

.sheet-rollables .sheet-nao-editavel .sheet-rollable-nome-button {
  font-size: 13px;
  padding: 0;
  margin: 0;
  white-space: normal;
  text-align: left;
}

.sheet-rollables .sheet-nao-editavel .sheet-rollable-nome-button .sheet-rollable-nome {
  font-weight: bold;
}

.sheet-rollables .sheet-nao-editavel .sheet-rollable-nome-button .sheet-rollable-nome span {
  text-transform: unset;
}

.sheet-rollables .sheet-nao-editavel span.sheet-lower {
  text-transform: lowercase;
}

.sheet-rollables .sheet-nao-editavel .sheet-ativos > span {
  display: none;
}

.sheet-rollables input.sheet-teste-resistencia-ativo[type=checkbox]:checked ~ .sheet-nao-editavel .sheet-ativos > span.sheet-teste-resistencia-ativo,
.sheet-rollables input.sheet-dano-extra-ativo[type=checkbox]:checked ~ .sheet-nao-editavel .sheet-ativos > span.sheet-dano-extra-ativo,
.sheet-rollables input.sheet-cura-ativo[type=checkbox]:checked ~ .sheet-nao-editavel .sheet-ativos > span.sheet-cura-ativo {
  display: inline;
}

.sheet-rollables input.sheet-teste-resistencia-ativo[type=checkbox]:checked + input.sheet-dano-extra-ativo[type=checkbox]:checked ~ .sheet-nao-editavel .sheet-ativos > span.sheet-dano-extra-ativo::before {
  content: ", ";
}

.sheet-rollables input.sheet-dano-extra-ativo[type=checkbox]:checked + input.sheet-cura-ativo[type=checkbox]:checked ~ .sheet-nao-editavel .sheet-ativos > span.sheet-cura-ativo::before {
  content: ", ";  
}

.sheet-rollables .sheet-title {
  text-align: center;
}
/* === DEFESA === */

.sheet-Defesa {
  border: 1px solid #000;
  margin: 5px;
}

.sheet-Defesa .sheet-title {
  padding: 5px;
}

.sheet-Defesa .sheet-text-right {
  text-align: right;
  padding-top: 7px;
}

.sheet-Defesa input[type=number] {
  padding-bottom: 1px;
  width: 70%;
  text-align: center;
}

.sheet-Defesa input[type=number].sheet-defesa-total {
  width: 50%;
  margin: 0 15%;
  font-size: 16px;
}

.sheet-Defesa .sheet-label-defesa {
  font-size: 9px;
  text-align: center;
}

.sheet-Armadura {
  border: 1px solid #000;
  margin: 5px;
}

.sheet-Armadura table {
  margin: 5px;
}

.sheet-Armadura table thead th {
  font-size: 9px;
  font-weight: normal;
  text-align: center;
  vertical-align: bottom;
}

.sheet-Armadura table thead th:first-child {
  text-align: left;
  width: 60%;
}

.sheet-Armadura table tbody td input[type=text] {
  width: 95%;
  margin-left: 0;
  padding-bottom: 1px;
}

.sheet-Armadura table tbody td input[type=number] {
  width: 80%;
  text-align: center;
  padding-bottom: 1px;
}

/* === EQUIPAMENTO / PROFICIENCIAS === */

.sheet-Equipamento,
.sheet-Proficiencias {
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
  border: 1px solid #000;
}

.sheet-Equipamento .sheet-title,
.sheet-Proficiencias .sheet-title {
  text-align: center;
}

.sheet-Equipamento .sheet-each-item {
  margin-bottom: 5px;
}

.sheet-Equipamento .sheet-each-item input[type=text] {
  margin-left: 0;
  width: 95%;
  padding-bottom: 1px;
}

.sheet-Equipamento .sheet-each-item input[type=number] {
  text-align: center;
  margin-right: 0;
  width: 95%;
  padding-bottom: 1px;
}

.sheet-Equipamento .sheet-dinheiro .sheet-label {
  text-align: center;
  padding-top: 2px;
  padding-left: 5px;
  font-size: 16px;
}

.sheet-Equipamento .sheet-dinheiro input[type=number] {
  text-align: center;
  padding-bottom: 1px;
  font-size: 16px;
}

.sheet-Proficiencias textarea {
  border: 1px solid #000;
  border-radius: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* === ROLL TEMPLATE - ATAQUE === */

.sheet-rolltemplate-rollable .sheet-template-rollable {
  font-family: 'Source Sans Pro';
  background-color: #fff;
  border: 1px solid #000;
  padding: 3px;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-nome {
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 2px;
  font-weight: bold;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-nome .sheet-subtitle {
  font-style: italic;
  font-size: 12px;
  line-height: 100%;
  padding: 3px 0;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-nome .sheet-subtitle .sheet-minuscula {
  text-transform: lowercase;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-acerto {
  border-top: 1px solid #000;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-label {
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-resultado {
  font-size: 20px;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-rolagem {
  padding-bottom: 5px;
  padding-top: 10px;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-resultado .sheet-legenda {
  font-size: 12px;
  font-style: italic;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-resistencia,
.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-dano-extra,
.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-cura {
  border-top: 1px solid #000;
  margin-top: 5px;
  text-align: center;
  padding-top: 3px;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-descricao {
  border-top: 1px solid #000;
  margin-top: 5px;
  padding-top: 3px;
  font-size: 12px;
  line-height: 110%;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-d-flex {
  display: flex;
}

.sheet-rolltemplate-rollable .sheet-template-rollable .sheet-f-1 {
  flex: 1;
  text-align: center;
}
